<div>
 <h1>Bienvenido</h1>


<a href="/api/products">
</a>

<a href="/api/carts">
</a>

<a href="/api/chat">
</a>

<a href="/api/session/login">
  
</a>

<a href="/api/session/register">
  
</a>

<a href="/api/session/current">
  
</a>


